<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/images/logo.jpg">
      </a>
    </div>
  </div>
</nav>