.interface-section .heading{text-transform: uppercase;padding: 10px 0px 0px 10px;}
.interface-section hr{margin-top: 0px;}
.devicelisting{margin-bottom: 0px;}
.devicelisting ul{list-style: none}
.devicelisting ul li{float:left;margin-right: 3px;}
.devicelisting ul li .btn-info{background-color: #0b61bd;border: #0b61bd;}
.devicelisting th{width: 45px;word-break: break-all}
.devicelisting th,td{text-align: center}
.corner-arrow img{position: relative;top: 59px;left: 15px;}
.container-fluid{max-height: 150px;overflow: auto;}

