<div id="bootstrapModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Interfaces</h4>
        </div>
        <div class="modal-body">
<div class="row container-fluid">
    <form class="device-form" [formGroup]="interfaceFormGroup" (ngSubmit)="registerInterfaces(interFaceForm)" novalidate> 
    <div class="row">
      <div class="col-md-4">
        <label for="hostname">
          <strong>Interface:</strong>
        </label>
      </div>
      <div class="col-md-4">
        <label for="loopback">
          <strong>IP:</strong>
        </label>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row device-form-inputs">
      <div class="col-md-4">
          <div class="form-group" >
            <input type="text" class="form-control input-sm" name="hostname" placeholder="infinitylabs.com" formControlName = "hostname">
            </div>
            <div *ngIf="interfaceFormGroup.controls.hostname.invalid && interfaceFormGroup.controls.hostname.touched" class="col-sm-3 text-danger">
              hostname is invalid
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group" >
            <input type="text" class="form-control input-sm" name="ip" placeholder="192.168.1.1"  formControlName = "ip">
          </div>
          <div *ngIf="interfaceFormGroup.controls.ip.invalid && interfaceFormGroup.controls.ip.touched" class="col-sm-3 text-danger">
            ip is invalid
        </div>
      </div>
      <div class="col-md-4">
        <button type="submit"  [disabled] = "!interfaceFormGroup.valid" class="btn btn-primary">Add</button>
      </div>
      <div *ngIf="duplicate">
        <p class="col-sm-3 text-danger">Duplicate enteries not allowed.</p>
      </div>
    </div>
   
  </form>
</div>
<div class="table-responsive">
  <table  class="table devicelisting">
    <thead>
      <th>Interfaces SR NO</th>
      <th>INTERFACES</th>
      <th>IP</th>
      <th>ACTION</th>
    </thead>
    <tbody>
        <tr *ngFor="let device of interfacesData; index as i;trackBy: trackByFn">
            <td>{{i+1}}</td>
            <td>{{device.hostname}}</td>
            <td>{{device.ip}}</td>
        <td>
          <ul>
            <li><a href="#" class="btn btn-info btn-sm" (click)="editInterfaces(i)">
                <span class="glyphicon glyphicon-pencil"></span> 
              </a>
            </li>
            <li><a href="#" class="btn btn-info btn-sm" (click)="deleteInterface(i)">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
     
    </tbody>
  </table>
  <div class="clearfix"></div>
</div>
</div>          
</div>
</div>
</div>