<app-header></app-header>
<div class="row device-form-container">
  <div class="col-md-6">
    <div class="row container-fluid">
      <form class="device-form" [formGroup]="deviceFormGroup" (ngSubmit)="registerDetails()" novalidate> 
         
        <div class="row">
          <div class="col-md-4">
            <label for="hostname">
              <strong>Hostname</strong>
            </label>
          </div>
          <div class="col-md-4">
            <label for="loopback">
              <strong>Loopback:</strong>
            </label>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row device-form-inputs">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control input-sm" name="hostname" placeholder="infinitylabs.com" id="hostname" formControlName = "hostname">
            </div>
            <div *ngIf="deviceFormGroup.controls.hostname.invalid && deviceFormGroup.controls.hostname.touched" class="col-sm-3 text-danger">
                hostname is invalid
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control input-sm" name="loopback" placeholder="192.168.1.1" id="loopback" formControlName = "loopback">
            </div>
            <div *ngIf="deviceFormGroup.controls.hostname.invalid && deviceFormGroup.controls.hostname.touched" class="col-sm-3 text-danger">
              loopback is invalid
          </div>
          </div>
          <div class="col-md-4">
            <button type="submit" [disabled] = "!deviceFormGroup.valid" class="btn btn-primary">Add</button>
          </div>
          <div *ngIf="duplicate">
            <p class="col-sm-3 text-danger">Duplicate enteries not allowed.</p>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table devicelisting">
        <thead>
          <th>SR NO</th>
          <th>Hostname</th>
          <th>Loopback</th>
          <th>ACTION</th>
        </thead>
        <tbody>
          <tr *ngFor="let device of deviceData; index as i;trackBy: trackByFn">
            <td>{{i+1}}</td>
            <td>{{device.hostname}}</td>
            <td>{{device.loopback}}</td>
            <td>
              <ul>
                <li><a href="#" class="btn btn-info btn-sm"  (click)="editDevice(i)">
                    <span class="glyphicon glyphicon-pencil"></span> 
                  </a>
                </li>
                <li><a href="#" class="btn btn-info btn-sm" (click)="deleteEntry(i)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </li>
                <li><a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#bootstrapModel" (click)="interfacePopOver(i)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix"></div>
    </div>
  </div>
  <div  class="col-md-6 interface-container">
      <app-interfaces  *ngIf="isOn"></app-interfaces>              
  </div>
</div>