.device-form-container{margin: 15% 0 0 1%}
.device-form-container .btn-primary{background-color: #0b61bd;border: #0b61bd;width: 40%;font-size: 12px;padding: 9px;}
.device-form-container .device-form{width: inherit}
.device-form-inputs .col-md-4{padding: 5px 5px}
.list-header{width: 100%;margin-top: 3%;}
.list-header { border-bottom: 1px solid #ccc; bottom: 0;left: 1px; right: 15px;}
.device-listing{width: 100%;text-align: justify;}
.devicelisting{margin-top: 20px;}
.devicelisting ul{list-style: none}
.devicelisting ul li{float:left;margin-right: 3px;}
.devicelisting ul li .btn-info{background-color: #0b61bd;border: #0b61bd;}
.devicelisting th{width: 45px;word-break: break-all}
.devicelisting th,td{text-align: center}
